# Ignorar la carpeta de dependencias de Composer
/vendor/

# Ignorar archivos de configuración local como variables de entorno
.env

# Ignorar archivos de logs
*.log

# Ignorar archivos de caché
/cache/

# Ignorar configuraciones específicas del IDE
.idea/
